.detalhesEvento{
	box-shadow: 0px 0px 5px grey;
	padding-top: 26px;
	padding-left: 20px;
	margin-botton: 60px;
}

.form{
	box-shadow: 0px 0px 5px grey;
	padding-top: 26px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.tabelaConvidado{
	width:50%;
}

