<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Eventos App</title>
	<meta charset="UTF-8">
</head>

<body>
	<h1>Cadastro de eventos</h1>
	<form method="post">
		Nome: <input type="text" value="" name="nome"/>
		Local: <input type="text" value="" name="local"/>
		Data: <input type="date" value="" name="data"/>
		Horário: <input type="text" value="" name="horario"/>
		
		<button type="submit">Salvar</button>
	</form>
</body>
</html>