<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
  
  <title>Eventos</title>
  

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  <link href="materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>

  <link rel="stylesheet" href="style/styleCss.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link rel="shortcut icon" href="imagens/eventos-favicon.png" />
    
</head>
<body>

  <div th:insert="~{menu :: menupag}"></div>
  
  
 
  <div id="index-banner" class="parallax-container">
    <div class="no-pad-bot">
      <div class="container">
        <br><br>
        <!-- <h1 class="header center teal-text text-lighten-2">EventosApp</h1> -->
        <div class="row center">
        
          
          <h5 class="header col s12 textTitulo">Ainda não <b>vende ingressos</b> ou <b>gerencia seus eventos</b> com o nosso sistema?</h5>
        </div>
        
	    <!-- Card -->
	          <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
          
          <a href="/cadastrarEvento">  
			      <div class="cardContainer">
			        <div class="additional">
			          <div class="user-cardContainer center">
			          	<div class="moldura">
			            	<img src="imagens/cadastrar_evento.png" width="110" height="110">
			            </div>
			          </div>     
			        </div>
			        <div class="general">
			          <h5 style="text-align: justify"><b>Publique seu evento</b></h5>
			          <p>Cadastre seu evento <b>gratuitamente</b> e faça parte da plataforma que <b>gerencia com eficiência</b> seus eventos.</p>
			        </div>
			      </div>
			    </a>
          
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
           <a href="/cadastrarEvento">  
			      <div class="cardContainer">
			        <div class="additional">
			          <div class="user-cardContainer center">
			          	<div class="moldura">
			            	<img src="imagens/cadastrar_evento.png" width="110" height="110">
			            </div>
			          </div>     
			        </div>
			        <div class="general">
			          <h5 style="text-align: justify"><b>Publique seu evento</b></h5>
			          <p>Cadastre seu evento <b>gratuitamente</b> e faça parte da plataforma que <b>gerencia com eficiência</b> seus eventos.</p>
			        </div>
			      </div>
			    </a>
          </div>
        </div>

      </div>
        <!-- Fim card -->
        
        <br><br>
      </div>
    </div>
    <div class="parallax background"></div>
  </div>
  
    
   
    <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <!-- <h3><i class="mdi-content-send brown-text"></i></h3> -->
          <h5 style="text-align: justify">Categorias dos eventos cadastrados: </h5>
          <br><br>
          
          <div class="col s12 m2">
	          <div class="user-cardContainer center">
			  	<div class="molduraCategorias">
					<img src="imagens/categorias/aniversario.png" width="70" height="70">					
			    </div>
			    <p>Aniversário</p>
          	  </div>
          </div>
        
          <div class="col s12 m2">
	          <div class="user-cardContainer center">
			  	<div class="molduraCategorias">
					<img src="imagens/categorias/musical.png" width="70" height="70">					
			    </div>
			    <p>Musical</p>
          	  </div>
          </div>
          
          <div class="col s12 m2">
	          <div class="user-cardContainer center">
			  	<div class="molduraCategorias">
					<img src="imagens/categorias/karaoke.png" width="70" height="70">					
			    </div>
			    <p>Karaokê</p>
          	  </div>
          </div>
          
          <div class="col s12 m2">
	          <div class="user-cardContainer center">
			  	<div class="molduraCategorias">
					<img src="imagens/categorias/gastronomico.png" width="70" height="70">					
			    </div>
			    <p>Gastronômico</p>
          	  </div>
          </div>
          
          
          
        
         <div class="col s12 m2">
	          <div class="user-cardContainer center">
			  	<div class="molduraCategorias">
					<img src="imagens/categorias/cultural.png" width="70" height="70">					
			    </div>
			    <p>Cultural</p>
          	  </div>
          </div>
          
          
          <div class="col s12 m2">
	          <div class="user-cardContainer"> 
		      	<div class="molduraCategorias">
		        	<img src="imagens/categorias/outros.png" width="70" height="70">					
		        </div>
			    <p>Outros</p>
          	  </div>
          </div>
          
         
        
      </div>
      
      

    </div>
  </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Publique seu evento</h5>

            <p class="light">Cadastre todos os dados do seu evento em nossa plataforma, nós ajudamos a gerenciar seus eventos de forma eficiente.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Mande convites</h5>

            <p class="light">Depois de cadastrar seu evento em nossa plataforma, mande convite para as pessoas que você quer que estejam em seu evento.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">date_range</i></h2>
            <h5 class="center">Participe dos eventos</h5>

            <p class="light">Escolha entre a lista de eventos da plataforma e participe do que mais combina com você! A inscrição é muito fácil.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l5 s12">
          <h5 class="white-text">A plataforma</h5>
          <p class="grey-text text-lighten-4">Esse sistema busca gerenciar eventos com eficiência. Cadastre seu evento e
          convide pessoas ou busque o evento que mais combina com você em nossa plataforma, são diversas categorias.</p>
        </div>
        
        
        <div class="col l4 s12">
          <h5 class="white-text">Contato</h5>
          <ul>
          	<li><i class="material-icons left">location_on</i> <p>São Luís, Maranhão</p></li>
          	<li><i class="material-icons left">local_phone</i> <p>+55 (98) 98861-4031</p></li>
          	<li><i class="material-icons left">email</i> <p>karinaerikads@hotmail.com</p></li>
          </ul>
        </div>
        
        
        
        <div class="col l3 s12">
          <h5 class="white-text">Sobre</h5>
          <p>Projeto criado para o portifólio2 da desenvolvedora Karina dos Santos. Layout inspirado no <a class="linkfooter" href="https://www.sympla.com.br/">Sympla</a>. Conheça a profissional:
          </p>
          
          <ul align="center">
            <li><a href="https://www.linkedin.com/in/karinaerikads" class="linkfooter">Linkedin</a>
            ·
            <a href="https://github.com/karinaerikads" class="linkfooter">Github</a></li>
            
          </ul>
          	
			
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Feito por <a class="brown-text text-lighten-3" href="https://github.com/karinaerikads">Karina dos Santos</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="materialize/js/materialize.js"></script>
  <script src="materialize/js/init.js"></script>
  
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	
  </body>
</html>